@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.table-edit{
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    color: rebeccapurple;
}
@media(max-width: 500px){
    .table-edit{
        max-width: 100%;
        margin: 0 0 0 0;
        font-size: 0.5em;
        font-weight: bold;
    }
}

.formulaire-edit{
    margin-right: 20%;
    margin-left: 20%;
    color: black;
    font-weight: bold;
}


.yep:hover{
	background-color: plum;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.3);
}

.presentation{
    text-align: center;
    padding-top: 20px;
    color: black;
}

body{
    color: black;
}

.button-edit{
    text-align: center;
}

.save_btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white;
    margin: auto;
}






.menu-card{
    padding-top:40px;
    margin-left:10%;
    margin-right: 10%;
    color:black;
}

.menu-card img{
    height: 300px;
}

.menu button{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
    background: black;
    color: #fff;
}

.menu  a{
    text-decoration: none;
}


#carouselExampleCaptions{
    margin: 0 10% 0 10%;
}

#carouselExampleCaptions img{
    width: 100%;
    height: 500px;
}

#carouselEvent{
    margin: 0 10% 0 10%;
}

#carouselEvent img{
    width: 100%;
    height: 500px;
}

.carousel-caption h5{
    color: rebeccapurple;
}

.carousel-caption p{
    color: rebeccapurple;
}


@media(max-width: 500px){
    #carouselExampleCaptions img{
        width: 100%;
        height: 200px;
}
}

@media(min-width: 1000px){
    #carouselExampleCaptions img{
        width: 100%;
        height: 650px;
}
}

.site-name span
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.site-name span a
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.copyright {
    text-align: center;
    padding-bottom: 10px;
}

.service-content a {
    text-decoration: none;
    color: white;
}
.description h1, h3 {
    text-align: center;
    color: black;
}

.description p{
    color: rebeccapurple;
}

.description {
    margin: 0 5% 0 5%;
    text-align: center;
}

#nav-btn{
    padding-right: 20px;
}





:root{
    --transition: all 0.7s ease;
    --yellow: #f9d342;
    --dark: #292826;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
    background-color:whitesmoke;
}
.btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover{
    opacity: 0.85;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    padding: 8px 0;
}
img{
    width: 100%;
    display: block;
	margin-right: 20px;
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}

/* header */
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("/static/images/sunsetjet.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}


.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    color: black;
    height: 40px;
}
.head-top span{
    cursor: pointer;
    letter-spacing: 2px;
    transition: var(--transition);
    margin-left: 10px;
}
.head-top span:hover{
    color: pink;
}
.head-bottom{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 45px;
    border-bottom: 1px solid #fff;
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
}
.head-btn{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    padding: 13px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}
.head-btn:hover{
    background: transparent;
}
@media(max-width: 500px){
    .head-btn{
        font-size: 17px;
    }
    .head-bottom h2{
        font-size: 28px;
    }
    .head-bottom p{
        font-size: 17px;
        margin: 20px auto;
    }
}

/* side nav */
.sidenav{
    background-color: lightgray;
    color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 250px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}

/********/
.sidenav.show{
    right: 0;
}
/*************/
.cancel-btn{
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);

}
.cancel-btn:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

.navbar li{
    padding-right: 40px;
}

.sidenav .btn{
    background-color: white;
    text-align: center;
}



.navbar li a{
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    padding: 20px 0;
    display: block;
    border-bottom: 0.5px solid white;
    opacity: 0.8;
    letter-spacing: 1.5px;
    transition: var(--transition);
}
.navbar li a:hover{
    padding-left: 12px;
}
.sign-up, .log-in{
    background: white;
    color: rebeccapurple;
}
@media(max-width: 400px){
    .sidenav{
        width: 45vw;
    }
}

/** title */
.title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: rebeccapurple;
    border-bottom: 5px solid var(--dark);
    width: 235px;
    margin: 15px 0;
}

.sec-width{
    width: 85vw;
    margin: 0 auto!important;
}

/* service */
.services{
    margin: 40px 0;
}
.service{
    display: flex;
    margin: 30px 0;
}
.service-icon{
    flex: 30%;
    align-self: flex-start;
    font-size: 48px;
    color: #252525;
}
.service-content{
    padding-left: 20px;
}
.service-content h2{
    opacity: 0.7;
}
.service-content button{
    margin-left: 0;
    margin-right: 0;
    background: black;
    color: #fff;
}
@media(min-width: 992px){
    .services-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
    .title h2{
        font-size: 10px!important;
    }
}
@media(max-width: 500px){
    .title h2{
        font-size: 24px;
    }
}

/* booking form */
.book{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/banner-img.jpg") center/cover no-repeat;
    color: #fff;
    padding: 40px 60px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}


.reservation{
    background: rebeccapurple;
    color: #fff;
    padding: 40px 60px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
}
.book-form{
    display: grid;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-form input[type = "submit"]{
    margin: 18px 0 0 0;
    background: rebeccapurple;
    color: #fff;
    border: 1px solid #fff;
}
.book-form label, .book-form input{
    width: 100%;
}
.book-form label{
    font-weight: 600;
    word-spacing: 5px;
    padding-bottom: 8px;
}
.book-form input:not(.btn){
    margin: 4px 0 16px 0;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
}
.book-form input:focus{
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media(min-width: 768px){
    .book-form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}
@media(min-width: 1170px){
    .book-form{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1370px){
    .book-form{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
    }
    .book{
        height: 40vh;
        display: grid;
    }
}
@media(max-width: 500px){
    .book{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* room */

.room .btn{
    background-color: white;
}
.rooms{
    margin: 40px 0;
}
.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background: lightgray;
    color: black;
}
.room-text{
    padding: 5px 20px;
}
.room-text h3{
    font-size: 24px;
    color: black;
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: white;
    margin-right: 10px;
}
.rate{
    opacity: 0.8;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: black;
}
.room-image{
    overflow: hidden;
}
.room-image img{
    transition: var(--transition);
    height: 450px;
}
.room-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .rooms-container{
        display: flex;
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    .room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}

/* customers */

.customers{
    margin-top: 40px;
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner2.jpg") center/cover no-repeat fixed;
}
.customer{
    background: #fff;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: var(--transition);
}
.rating{
    margin: 10px 0;
    color: black;
}
.customer h3{
    font-size: 25px;
}
.customer p{
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
}
.customer img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 25px auto;
}
.customer span{
    font-weight: 700;
    opacity: 0.7;
}
.customer:hover{
    transform: translateY(-18px);
}
@media(min-width: 992px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media(min-width: 1370px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 500px){
    .customer p{
        width: 100%;
    }
    .customer img{
        width: 100px;
        height: 100px;
    }
}

/* footer */
.footer{
    background: lightgray;
    color: black;
    text-align: center;
}

.footer a {
    color: black;
}
.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.8;
}
.footer a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: auto;
}
.social-icons li{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: #2e2e2e;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}
.social-icons li:hover{
    background: #fff;
    color: #2e2e2e;
}
.contact-item span{
    display: block;
}
@media(min-width: 900px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media(min-width: 1170px){
    .footer{
        text-align: left;
    }
    .footer-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container div:nth-child(1) p{
        padding-right: 20px;
    }
    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

.showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

button a {
    text-decoration: none;
    font-weight: bold;
}

.navbar button{
    justify-items: center;
}

.container{
    color: black;
}

.container p{
    text-align: center;
}

.clearfix p
{
    margin-left: 20px;
    color: black;
}

.brunch{
    text-align: center;
}

article a{
    text-decoration: none;
}

.confirmation{
    text-align: center;
    color:rebeccapurple;
}

.confirmation .btn{
    background-color: black;
    color:white;
    text-decoration: none;
}

/* Contact */

	#contact {
		padding: 10px 0 10px;
		background-size: cover;
	}

	.contact-text{
		margin:45px auto;
	}

/* Contact Form */

	#contact .contact-form{
		/*width:90%;
		max-width: 830px;*/
		margin-top:1px;
        margin-bottom: 1px;
		background:lightgray;
		padding-right: 20%;
        padding-left: 20%;
        padding-bottom: 20px;
        padding-top: 10px;
		box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
		-moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
		-webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
	}

	.mail-message-area{
		width:100%;
		padding:0 12px;
	}

	.mail-message{
		width: 100%;
		background:rgba(255,255,255, 0.8) !important;
		-webkit-transition: all 0.7s;
		-moz-transition: all 0.7s;
		transition: all 0.7s;
		margin:0 auto;
		border-radius: 0;
	}

	.not-visible-message{
		height:0px;
		opacity: 0;
	}

	.visible-message{
		height:auto;
		opacity: 1;
		margin:25px auto 0;
	}

/* Input Styles */

	.form{
		width: 100%;
		padding: 15px;
		background:#f8f8f8;
		border:1px solid rgba(0, 0, 0, 0.075);
		margin-bottom:25px;
		color:#727272 !important;
		font-size:13px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}

	.form:hover{
		border:1px solid black;
	}

	.form:focus{
		color: white;
		outline: none;
		border:1px solid black;
	}

	.textarea{
		height: 200px;
		max-height: 200px;
		max-width: 100%;
	}

    .relative .btn{
        text-align: center;
        background-color: white;
    }

    .contact-form h3 {
        color: black;
    }


    .iframevid{
        margin-top: 20px;
        text-align: center;
    }
